

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

img {
  width: 20vh;
  height: 20vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}




.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vh;
  
}


.main {
  margin: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5vh;
}




.review-card {
  background-color: rgb(55, 55, 174);
  border-radius: 10%;
}


#category-tag {
  text-transform: capitalize;
}



@media only screen and (max-width: 1000px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }
}


 /* @media only screen and (min-width: 800px) and (max-width: 1000) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh;
  }
 } */