
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300;1,700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  color: rgb(78, 6, 6);
  
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

img {
  width: 20vh;
  height: 20vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 6, 6);
  width: 100%;
  
  
}

header h1 {
  color: white;
}


.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;

}

.main-nav {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  width: 100%;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vh;
  
}

.dice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vh;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vh;
}


.main {
  margin: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5vh;
  align-self: center;
}




.review-card {
  width: 20rem;
  border-radius: 10%;
  border: 1px solid rgb(78, 6, 6);
}

.select-cat {
  width: 20rem;
  height: 2rem;
}

.select-cat option {
  text-transform: capitalize;
}

.single-card {
  padding: 5vh;
  margin: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: 1px solid rgb(78, 6, 6);
  max-width: 50rem;
  border-radius: 5%;
}

.info {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
}

.info p {
  text-align:left;
}

.voting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 10rem;
}

.comments-container ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  gap: 1rem;
  width: 40vw;
  text-align: left;
  
}



input {
  width: 20rem;
}

textarea {
  width: 40vw;
  height: 20vh;
}

#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:max-content
}

#comment-btn {
  width: 10vw;
  height: 5vh;
  background-color: rgb(78, 6, 6);
  color: white;
  font-weight: 700;
  border-radius: 10%;
}

#category-tag {
  text-transform: capitalize;
}




@media only screen and (max-width: 1000px) {

  body {
    padding: 0;
    margin: 0;
  }

  ul {
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    padding: 1vh;
    
    width: auto;
  }

  .App {
    padding: 0;
    margin: 0;
  }

  .main-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1rem;
    margin-right: 1rem;
    
  }

  .logo {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;   
    justify-content: left;
  }
  .dice {
    grid-row-start: 1;
    grid-column-start: 3;
    /* grid-column-end: 3; */
    display: flex;
    justify-content: center;
  }
  .navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    justify-content: center;
  
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }

  .single-card {
    padding: 0;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: none;
    
    
  }
  textarea {
    width: 90vw;
    height: 20vh;
  }

  #comment-btn {
    width: 30vw;
    height: 5vh;
    background-color: rgb(78, 6, 6);
    color: white;
    font-weight: 700;
  }
}


 /* @media only screen and (min-width: 800px) and (max-width: 1000) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh;
  }
 } */